*{
    box-sizing: border-box;

}
.header_section{
    width: 100%;
    float: left;
    background-color: black;
    height: 50px;
}
.logo{
    color: white;
    float:left;
    font-size: 15px;
    margin-bottom: 40px;
}
.nav{
    float: left;
    width: 50%;
    margin-left: 400px;
}
.nav ul li{
    float: left;
    padding-right: 20px;
    color: white;
    list-style: none;
    margin-top: 6px;
}

.main {
    float: left;
    width: 70%;
    background-color: #67bdb0;
    height: 320px;
    margin-top: 40px;
    margin-left: 350px;

}
.img{
    float: left;
    margin-top:0px;
    margin-left: -97px;
    width:30%;
}
.paragraph{
    float: left;
    width: 50%;
    text-align: center;
    background-color: white;
    height: 291px;
    margin-left: 58px;
}
.paragraph button{
    cursor: pointer;
    background-color: black;
    color: white;
    width: 170px;
    height:53px;
}
.mclass{
    float: left;
    width: 100%;
    background-color: black;
    height: 250px;
    text-align: center;
    margin-top: 50px;
    margin-left:-166px;
}
.gen{
    color: white;
    float: left;
    width: 50%;
}
.ton{
    float: left;
    color:white;
    margin-top: 110px;
    margin-left: 161px;
}
.ton button{
    background-color: #67bdb0; 
    width: 170px;
    height:53px;
    margin-left: -55px;
    cursor: pointer;
    float: left;
}
.gen{
    float: left;
    margin-left: 30px;
    margin-top: 30px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    float: left;
}

.container {
    max-width: 1200px;
    margin: 20px;
    padding: 20px;
    background-color:#e1e3e4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top:70px;
    float: left;
    margin-top: 291px;
   
}

.text-section {
    margin-bottom: 20px;
    float: left;
    width: 25%;
    margin-top: 40px;
    margin-left: 90px;
}

.text-section h1 {
    font-size: 2em;
    margin: 0;
    float: left;
}

.text-section p {
    color: #666;
    float: left;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    float: left;
    margin-left: 200px;
}

.grid-item {
    background-color: #4ecdc4;
    padding: 20px;
    color: black;
    text-align: center;
    font-size: 10px;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 120px;
    float: left;
}

.grid-item span {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    color: #f0f0f0;
    float: left;
}
.f-main {
    float: left;
    width: 70%;
  
    height: 320px;
    margin-top: 40px;
    
}
.para{
    float: left;
    width: 50%;
    text-align: center;
    background-color: #67bdb0;;
    height: 291px;
    margin-left: 190px;
}
.pic{
        float: left;
        margin-top:0px;
        margin-left: -20px;
        width:30%;
}
.para button{
    color: white;
    background-color: black;
    width: 170px;
    height:53px;
    margin-left: 122px;
    cursor: pointer;
    float: left;
}
.pic h1{
    margin-left: 50px;
    margin-top: 0px;
}
.pic p{
    margin-left: 64px;
    margin-top: -11px;
}